* {
  font-family: 'Droid Sans', sans-serif;
  /*color: #333;*/
  /*background: pink;*/
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  /*font-size: 30px;*/
  color: red;

}
::-webkit-scrollbar {
    display: none;
}

.closed {
  display: none;
}


#first-time-arrow {
  position: absolute;
  pointer-events: none;
  top: -10px;
  left: -3px;
  margin-left: -10px;
  z-index: 2;
  -webkit-filter: drop-shadow(5px 0px 3px #555);
}

/*#first-time-arrow img {
  box-shadow: 10px 10px 5px #888888;
}*/

#first-time-dbox {
  position: absolute;
  color: #333;
  padding: 0px 10px 10px 10px;
  top: 70px;
  left: 20px;
  width: 200px;
  /*height: 300px;*/
  border: 2px solid #333;
  border-radius: 5px;
  z-index: 2;
  background: white;
  -webkit-filter: drop-shadow(5px 5px 3px #555);
}

#first-time-dbox ol {
  padding-left: 15px;
  margin-top: 0px;
}

#first-time-dbox p {
  margin-top: 10px;
  font-size: 14px;
  /*text-align: center;*/
}

#dismiss-dialogue {
  display: block;
  bottom: 0px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  transform: translateX(0);
  transition: transform 1s ease;
  z-index: 1;
}

#map {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  overflow: hidden;
}

#menu-bar {
  width: 100%;
  height: 100px;
  background: gray;
  position: absolute;
  z-index: 1;
}

#header {
  background: #333;
  color: #FFF;
  padding: 20px;
  position: relative;
}

.site-title {
  margin-top: 0px;
  height: 0px;
  text-align: center;
  margin-left: 0px;
  font-size: 1rem;
}

#first-heading {
  color: #333;
}

.blue {
  height: 75px;
  width: 75px;
  background: blue;
}

button {
  font-size: 15px;
}

.red {
  color: red;
}
a {
  color: #FFF;
  text-decoration: none;
}

.nav-toggle {
  position: absolute;
  top: 20px;
  cursor: pointer;
}

nav li {
  list-style: none;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 170px;
  height: 100vh;
  background: #222;
  text-align: right;
  transform: translateX(-100%);
}

.nav-title {
  font-size: 15px;
  cursor: default;
}

.wrapper.open {
  transform: translateX(170px);
}

.nav-bar.open {
  transform: translateX(0);
}

.nav-bar .nav-toggle {
  right: 5%;
  top: 5%;
}

.nav-bar ul {
  margin: 0;
  padding: 0;
}

.nav-bar ul a {
  padding: 10px 20px;
  display: block;
}

input[type="text"] {
  text-align: center;
  width: 129px;
  height: 20px;
  outline: none;
  border: none;
  border-bottom: solid 4px white;
  transition: border 0.3s;
}

input[type="text"]:focus {
  border-bottom: solid 4px red;
}

input, button, select {
  margin-right: 20px;
  margin-top: 10px;
}

select, button {
  width: 131px;
}

select {
  height: 100px;
  outline: none;
}

button {
  cursor: pointer;
}

.unslider-arrow {
  display: none;
}

.review-slider {
  color: #333;
}

.pink {
  background: #333;
  border-radius: 3px;
}

ol {
  /*background-color: #333;*/
}

#content{
  width: 400px;
  height: 450px;
  margin-left: 22px;
  margin-top: 10px;
  text-align: center;
  overflow: hidden;
  padding-bottom: 10px;
  /*background: pink;*/
}
.photo-slide {
  width: 100%;
}
#main-button {
  position: absolute;
  width: 150px;
  height: 50px;
  top: 87%;
  margin-left: -75px;
  left: 50%;
  background: #333;

  text-decoration: none;
  color: white;
  border-radius: 3px;
  +transition: (all 300ms);

}

#main-button:hover {
  box-shadow: 0px 0px 0px 2px white, 0px 0px 0px 4px black;
}

button:focus {outline:0;}

.nav-bar ul a:hover {
  background: #333;
}

.signature {
  margin-top: 20px;
  color: red;
  font-size: 10px;
  cursor: default;
}






@media (max-width: 600px) {
  #content {
    width: 150px;
    height: 300px;
    font-size: 10px;
  }

}

@media (max-width: 415px) {
  #first-time-dbox {
    width: 140px;
  }
}

@media (max-height: 420px) {
  select {
    height: 75px;
  }
  #first-time-dbox {
    width: 290px;
  }
  #main-button {
    top: 80%
  }
}
